version: '3.8'

services:
  api:
    build: .
    ports:
      - "3030:3030" # ou a porta que sua API usa
    env_file: .env
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432" # opcional, sรณ se quiser acessar pelo host
